<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web App</title>
</head>
<body>
    <h1>Enter Four Strings</h1>
    <form id="strings-form">
        <label for="api_key">API KEY:</label>
        <input type="text" id="api_key" name="api_key" required><br><br>
        
        <label for="job_name">Job name:</label>
        <input type="text" id="job_name" name="job_name" required><br><br>
        
        <label for="classname">Classname:</label>
        <input type="text" id="classname" name="classname" required><br><br>
        
        <label for="folder_path">Folder path:</label>
        <input type="text" id="folder_path" name="folder_path" required><br><br>
        
        <button type="submit">Submit</button>
    </form>
    <div id="result"></div>

    <h1>Get IDs</h1>
    <form id="ids-form">
        <label for="ids-form">Get Jobs info</label>
        <br><br>
        
        <button type="submit">Get info</button>
    </form>
    <div id="ids-result"></div>

    <h1>Set API KEY</h1>
    <form id="api-key-form">
        <label for="api_key">API KEY:</label>
        <input type="text" id="api_key" name="api_key" required><br><br>
        
        <button type="submit">Send API KEY</button>
    </form>
    <div id="api-key-result"></div>

    <script>
        document.querySelector('#strings-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = new FormData(document.querySelector('#strings-form'));
            const response = await fetch('/submit-strings', {
                method: 'POST',
                body: new URLSearchParams(formData),
            });
            const result = await response.json();
            document.querySelector('#result').innerText = result.message;
        });

        document.querySelector('#ids-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const response = await fetch('/get-ids', {
                method: 'POST',
            });
            const response_dict = await response.json();
            document.querySelector('#ids-result').innerText = JSON.stringify(response_dict, null, 2);
        });

        document.querySelector('#api-key-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = new FormData(document.querySelector('#api-key-form'));
            const response = await fetch('/set-key', {
                method: 'POST',
                body: new URLSearchParams(formData),
            });
            const result = await response.json();
            document.querySelector('#api-key-result').innerText = result.message;
        });
    </script>
</body>
</html>
